@model IEnumerable<WebOdevi.Models.Post>

@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Post</h2>

<p>
    @Html.ActionLink("Create New", "PostCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cat.CatName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Context)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reads)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cat.CatName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Context)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reads)
        </td>
        <td>
            @Html.ActionLink("Edit", "PostEdit", new { id=item.PostId }) |
            @Html.ActionLink("Details", "PostDetails", new { id=item.PostId }) |
            @Html.ActionLink("Delete", "PostDelete", new { id=item.PostId })
        </td>
    </tr>
}

</table>
