@model WebOdevi.Models.Post

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">


    @*$(document).ready(function () {
                    $("#gonder").click(function () {
                        var newcomment = $.trim($("#comment").val());
                       $.ajax({
                          url: '/Home/Comment/',
                          data: {comment:newcomment, PostId:@Model.PostId},
                          type: 'POST',
                          dataType: 'json',
                          success: function (data) {
                               alert("Başarılı ");
                           }
                        });

                 });
        })*@

    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-14">
            <!-- Title -->
            <h1 class="mt-4">@Model.Name</h1>
            <!-- Author -->
            <p class="lead">
                <a href="/User/Detail/@Model.UserId">@Model.User.UserFullName</a> tarafından yazıldı.
            </p>
            <hr>
            <!-- Date/Time -->
            <p><a href="/Home/Category/@Model.CatId">@Model.Cat.CatName</a> kategorisine @Model.Time tarihinde gönderildi</p>
            <hr>
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="@Model.Photo" alt="@Model.Name" width="900" height="300">
            <hr>
            <!-- Post Content -->
            <p class="lead">@Model.Context</p>
            <hr>
            @if (Session["userid"] == null)
            {
                <!-- Comments Form -->
                <div class="card my-4">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <textarea disabled="disabled" typeof="text" class="form-control" rows="3">Yorum yapmak için giriş yapmalısınız.</textarea>
                            </div>
                            <a href="/User/Login">Giriş Yap</a>
                        </form>
                    </div>
                </div>
            }
            else
            {<!-- Comments Form -->
                @*<div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea id="yorum" typeof="text" class="form-control" rows="3"></textarea>
                        </div>
                        <button id="send" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>*@
                {Html.RenderAction("CreateComment", "Home");}
            }
            @*<script type="text/javascript">
                $(document).ready(function(){
                    $("#send").click(function () {
                        var dataId = $(this).data("id");
                        var token = $('meta[name="csrf-token"]').attr('content');
                        var yorumunuz = $("#yorum").val();
                        if (yorumunuz == '') {
                            alert("Enter Some Text In Textarea");
                        }
                        else {
                            $.ajax({
                                type: 'POST',
                                url: '/Home/Comment/',
                                data: { comment: yorumunuz, postids:@Model.PostId},
                                dataType: 'json',
                                cache: false,
                                success: function (data) { },
                            })

                        }
                  });
    })
            </script>*@
            <!-- Single Comment -->
            @foreach (var comment in Model.Comment.ToList())
            {
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">
                            @comment.User.UserFullName <small>@comment.CommentDate</small>@if (Convert.ToInt32(Session["userid"]) == comment.UserId)
                            {
                                <a href="/Home/YorumSil">Sil</a>
                            }
                        </h5>

                        @comment.CommentContent

                    </div>
                </div>
            }




        </div>
    </div>

</div>